/* 
Black: #000000
Background: #121212
Foreground: #1e1e1e
Text Light: #dedede
text Dark: #4b4b4b
blue: #2196f3


*/
.black {
    background-color: #000000 !important;
}

.background-dark {
    background-color: #121212 !important;
}

.background-light {
    background-color: #1e1e1e !important;
}

.text-light {
    color: #dedede !important;
}

.text-dark {
    color: #4b4b4b !important;
}

.text-main {
    color: #2196f3 !important;
}

.blue-background {
    background-color: #2196f3 !important;
}

.close {
    color: #fff; 
    opacity: 1;
}

.no-border {
  border: 0;
}


.box-shadow {
	/* background-color: rgb(0, 0, 0); */
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}

.todo-btn:focus {
   border: none;
   outline: none;
   box-shadow: none !important;
}

.todo-btn:focus {
  border: none;
  outline: none;
  box-shadow: none !important;
}

span:focus-visible {
  outline: none;
}

body {
    background-color: #121212;
}

h1 {
    font-size: xx-large;
    color: #e0ddcf;
}

.form-control {
  background-color: #1e1e1e;
  border: 1px solid #000;
}

.form-control[readonly] {
  background-color: #1e1e1e;
}

.input-group-text {
  background-color: #1e1e1e;
  border: 1px solid #000;
}

.form-control:focus {
  color: #4b4b4b;
  background-color: #1e1e1e;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem #12121294;
}

.profile-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.center-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    #add-todo-btn {
        width: 100% !important;
    }

    #dt-gap {
        display: none;
    }

    .card-text {
      font-size: 13px !important;
    }

    .card-body {
      padding: .5rem
    }

}

#add-todo-btn {
    width: 50%;
}

#dt-gap {
    display: block;
    margin: 2% 0;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-group-item:hover {
    background-color: #a8a8a8;
    cursor: pointer;
}

.todo-item {
    display: inline-flex; 
    width: 100%; 
    flex-direction: row; 
    align-items: center;
}

.todo-item-delete {
    display: inline-flex; 
    width: 9%; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end;
}

.todo-div-exit {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 10%;
    height: 100%;
}

li {
    margin-bottom: 1rem;
    background-color: #d6d6d6;
}

.todo-text {
    font-size: 22px;
    display: block;
    width: 90%;

}

.one-line {
  white-space: nowrap;
  overflow: hidden;
}

.btn-close:hover {
    cursor: pointer;
}

.completed {
    background-color: rgb(250, 143, 143);
}

.extend-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


















.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #4b4b4b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Todo close button */
  
  .delete-todo-outer {
    position: relative;
    margin: auto;
    width: 4vw;
    cursor: pointer;
  }
  
  .delete-todo-inner {
    width: inherit;
    text-align: center;
  }
  
  .delete-todo-text { 
    font-size: .8em; 
    line-height: 4em;
    text-transform: uppercase;
    color: #dedede;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
  }
  
  .delete-todo-inner:before, .delete-todo-inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #2196f3;
    left: 0;
    transition: all .3s ease-in;
  }
  
  .delete-todo-inner:before {
    top: 50%; 
    transform: rotate(45deg);  
  }
  
  .delete-todo-inner:after {  
    bottom: 50%;
    transform: rotate(-45deg);  
  }
  
  .delete-todo-outer:hover label {
    opacity: 1;
  }
  
  .delete-todo-outer:hover .delete-todo-inner:before,
  .delete-todo-outer:hover .delete-todo-inner:after {
    transform: rotate(0);
  }
  
  .delete-todo-outer:hover .delete-todo-inner:before {
    top: 0;
  }
  
  .delete-todo-outer:hover .delete-todo-inner:after {
    bottom: 0;
  }